* {
  font-family: Arial;
  font-size: 20px;
}

.banner {
  background-color: #49654C;
  height: 4rem;
  margin-bottom: 1rem;
}

.form-field {
  margin-bottom: 1rem;
}

input[type=text], input[type=password] {
  border: 0px;
  border-bottom: 1px solid black;
  border-radius: 0;
  font-size: 20px;
  margin-left: 10%;
  width: 80%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

input[type=checkbox] {
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

button {
  background-color: #8AA989;
  border: none;
  border-radius: 2px;
  color: #EBEBE9;
  font-size: 20px;
  height: 2.5rem;
  margin-left: 10%;
  margin-bottom: 1rem;
  width: 80%;
}

.submit { background-color: #C0CEB2; }

a {
  color: white;
  text-decoration: none;
}

.warning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;
  width: 80%;
}

.warning > p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 1rem;
}

.spinner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.message {
  font-size: 14px;
  margin-bottom: 1rem;
  margin-left: 10%;
  text-align: center;
  width: 80%;
}
